<div class='container'>
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'types'}}Categories{{/link-to}}</li>
      <li>{{#link-to 'recent-products'}}Recently Added Products{{/link-to}}</li>
      <li>{{#link-to 'product'}}Products{{/link-to}}</li>
    </ul>
  </nav>

  {{outlet}}
</div>
